/* Prevent horizontal overflow */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f0e5d8; /* Light brown background */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content-page {
  background-color: #f0e5d8;
  flex: 1;
  padding: 40px 20px;
}
